body {
    background: #3494e6;
}


.samid-container {
    width: 50%;
    height: 600px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
  
}

.samid-form {
    text-align: center;
    display: none;
}

.samid-options {
    text-align: center;
    display: none;
}

input[type=text]:focus, input[type=email]:focus {
    border-color: #1A232E;
}

.samid-input {
    text-align: center;
    padding: 12px 4px;
    background: none;
    border: none;
    border-bottom: 2px solid #EFF3F7;
    font-size: 3.8rem;
    -webkit-appearance: none;
    outline: none;
}

.samid-button {
    background: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px 20px;
    color: white;
}

.samid-protocol {
    text-align: center;
    display: none;
    color:white;
}